<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h1>Choose the day, a number of times per day and a start time for your activity</h1>
        <%= simple_form_for [@config_time_slot, @days_time_slot] do |f| %>
          <%= f.input :day, as: :check_boxes, :collection => %w[Monday Tuesday Wednesday Thursday Friday Saturday Sunday], include_hidden: false %>
          <%= f.input :frequency%>
          <%= f.input :interval %>
          <%= f.input :start_time%>
          <%= f.submit%>
        <% end %>
      </div>
    </div>
  </div>
</div>
