<div class="container">
    <div class="d-flex justify-content-end my-4">
        <%= link_to "Explore all", activities_path(property_id: @property), class: "btn btn-dark-green" %>
    </div>
 </div>


<div class="container my-2 rounded">
  <div class="p-1">
    <div class="row align-items-center">
      <div class="col-lg-2">
        <% if @property.user.photo.attached? %>
          <%= cl_image_tag @property.user.photo.key, class: "avatar-lg dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false"}, loading: "lazy" %>
        <% else %>
          <img class="avatar-lg dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://cdn-icons-png.flaticon.com/512/8765/8765781.png", loading="lazy" />
        <% end %>
      </div>
      <div class="col-lg-10">
        <h4 class="text-body-emphasis">Welcome to <strong> <%= @property.name %> </strong> 👋 </h4>
        <p class="fs-5 text-muted italicized">
          To help you organize your holiday, I have put a list below with my favorite recommendations.
        </p>
      </div>
    </div>
  </div>
</div>


<section class="pt-3 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-6">
      <% in_house_activities = @recommendations.select { |recommendation| recommendation if recommendation.recommendable_type == 'Activity' && recommendation.recommendable.in_house} %>
        <h4 class="mb-3">Inhouse Recommendations</h4>
      </div>
      <div class="col-6 text-right">
        <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators1" role="button" data-slide="prev">
          <i class="fa fa-arrow-left"></i>
        </a>
        <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators1" role="button" data-slide="next">
          <i class="fa fa-arrow-right"></i>
        </a>
      </div>
      <div class="col-12">
        <div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel" data-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">

                  <% in_house_activities.first(4).each do |activity| %>
                    <div class="col-md-3 mb-3">
                      <div class="card-carousel">
                      <%= link_to activity_path(activity.recommendable, property_id: @property), class: "text-decoration-none text-dark" do %>
                        <% if !activity.recommendable.photo_url.nil? %>
                          <img class="img-fluid" alt="100%x280", loading="lazy", src="<%= activity.recommendable.photo_url %>">
                        <% elsif activity.recommendable.photo.attached?  %>
                          <img class="img-fluid" alt="100%x280", loading="lazy", src="<%= cl_image_path activity.recommendable.photo.key, height: 300, crop: :fill %>">
                        <% else %>
                          <img class="img-fluid" alt="100%x280", loading="lazy", src="app/assets/images/in_house.avif">
                        <% end %>
                        <div class="card-carousel-body pt-2 p-2">
                          <div class="d-flex justify-content-between">
                            <h5 class="card-title"> <%= activity.recommendable.title %> </h5>
                            <p class="text-muted font-weight-normal">
                              <%# Get average rating %>
                              <% if activity.recommendable.reviews.present? %>
                                <% average_rating = activity.recommendable.reviews.average(:rating).to_f %>
                                <%= "%.1f" % average_rating %><i class="fas fa-star star-yellow"></i>
                              <% else %>
                                New
                              <% end %>
                            </p>
                          </div>
                            <p class="card-text" style="font-weight: bold;">
                              <%= activity.recommendable.price %> €
                            </p>
                        </div>
                      <% end %>
                    </div>
                  </div>
                  <% end %>

              </div>
            </div>

            <div class="carousel-item">
              <div class="row">
                  <% in_house_activities[4...7].each do |activity| %>
                    <div class="col-md-3 mb-3">
                      <div class="card-carousel">
                      <%= link_to activity_path(activity.recommendable, property_id: @property), class: "text-decoration-none text-dark" do %>
                        <% if !activity.recommendable.photo_url.nil? %>
                          <img class="img-fluid" alt="100%x280", loading="lazy", src="<%= activity.recommendable.photo_url %>">
                        <% elsif activity.recommendable.photo.attached?  %>
                          <img class="img-fluid" alt="100%x280", loading="lazy", src="<%= cl_image_path activity.recommendable.photo.key, height: 300, crop: :fill %>">
                        <% else %>
                          <img class="img-fluid" alt="100%x280", loading="lazy", src="app/assets/images/in_house.avif">
                        <% end %>
                        <div class="card-carousel-body pt-2 p-2">
                          <div class="d-flex justify-content-between">
                            <h5 class="card-title"> <%= activity.recommendable.title %> </h5>
                            <p class="text-muted font-weight-normal">
                              <%# Get average rating %>
                              <% if activity.recommendable.reviews.present? %>
                                <% average_rating = activity.recommendable.reviews.average(:rating).to_f %>
                                <%= "%.1f" % average_rating %>
                                <i class="fas fa-star star-yellow"></i>
                              <% else %>
                                New
                              <% end %>
                            </p>
                          </div>
                            <p class="card-text"> <%= activity.recommendable.price %> € </p>
                        </div>
                      <% end %>
                    </div>
                  </div>
                  <% end %>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
   </div>
</section>

<section class="pt-3 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-6">
      <% outdoor_activities = @recommendations.select { |recommendation| recommendation if recommendation.recommendable_type == 'Activity' && recommendation.recommendable.in_house == false} %>
        <h4 class="mb-3">Outdoor Recommendations</h4>
      </div>
      <div class="col-6 text-right">
        <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
          <i class="fa fa-arrow-left"></i>
        </a>
        <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
          <i class="fa fa-arrow-right"></i>
        </a>
      </div>
      <div class="col-12">
        <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel" data-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                  <% outdoor_activities.first(4).each do |activity| %>
                    <div class="col-md-3 mb-3">
                      <div class="card-carousel">
                      <%= link_to activity_path(activity.recommendable, property_id: @property), class: "text-decoration-none text-dark" do %>
                        <% if !activity.recommendable.photo_url.nil? %>
                          <img class="img-fluid" alt="100%x280", loading="lazy", src="<%= activity.recommendable.photo_url %>">
                        <% elsif activity.recommendable.photo.attached?  %>
                          <img class="img-fluid" alt="100%x280", loading="lazy", src="<%= cl_image_path activity.recommendable.photo.key, height: 300, crop: :fill %>">
                        <% else %>
                          <img class="img-fluid" alt="100%x280", loading="lazy", src="app/assets/images/outdoors_activity.jpeg">
                        <% end %>
                        <div class="card-carousel-body pt-2 p-2">
                          <div class="d-flex justify-content-between">
                            <h5 class="card-title"> <%= activity.recommendable.title %> </h5>
                            <p class="text-muted font-weight-normal">
                              <%# Get average rating %>
                              <% if activity.recommendable.reviews.present? %>
                                <% average_rating = activity.recommendable.reviews.average(:rating).to_f %>
                                <%= "%.1f" % average_rating %><i class="fas fa-star star-yellow"></i>
                              <% else %>
                                New
                              <% end %>
                            </p>
                          </div>
                            <p class="card-text"> <%= activity.recommendable.price %> € </p>
                        </div>
                      <% end %>
                    </div>
                  </div>
                  <% end %>
              </div>
            </div>

            <div class="carousel-item">
              <div class="row">
                  <% outdoor_activities[4...7].each do |activity| %>
                    <div class="col-md-3 mb-3">
                      <div class="card-carousel">
                      <%= link_to activity_path(activity.recommendable, property_id: @property), class: "text-decoration-none text-dark" do %>
                        <% if !activity.recommendable.photo_url.nil? %>
                          <img class="img-fluid" alt="100%x280", loading="lazy", src="<%= activity.recommendable.photo_url %>">
                        <% elsif activity.recommendable.photo.attached?  %>
                          <img class="img-fluid" alt="100%x280", loading="lazy", src="<%= cl_image_path activity.recommendable.photo.key, height: 300, crop: :fill %>">
                        <% else %>
                          <img class="img-fluid" alt="100%x280", loading="lazy", src="app/assets/images/outdoors_activity.jpeg">
                        <% end %>
                        <div class="card-carousel-body pt-2 p-2">
                          <div class="d-flex justify-content-between">
                            <h5 class="card-title"> <%= activity.recommendable.title %> </h5>
                            <p class="text-muted font-weight-normal">
                              <%# Get average rating %>
                              <% if activity.recommendable.reviews.present? %>
                                <% average_rating = activity.recommendable.reviews.average(:rating).to_f %>
                                <%= "%.1f" % average_rating %>
                                <i class="fas fa-star star-yellow"></i>
                              <% else %>
                                New
                              <% end %>
                            </p>
                          </div>
                            <p class="card-text"> <%= activity.recommendable.price %> € </p>
                        </div>
                      <% end %>
                    </div>
                  </div>
                  <% end %>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
   </div>
</section>



<section class="pt-2 pb-2">
  <div class="container">
    <div class="row">
      <div class="col-6">
      <% restaurants = @recommendations.select { |restaurant| restaurant if restaurant.recommendable_type == 'Restaurant'} %>
        <h4 class="mb-3">Recommended Bars and Restaurants</h4>
      </div>
      <div class="col-6 text-right">
        <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators4" role="button" data-slide="prev">
          <i class="fa fa-arrow-left"></i>
        </a>
        <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators4" role="button" data-slide="next">
          <i class="fa fa-arrow-right"></i>
        </a>
      </div>
      <div class="col-12">
        <div id="carouselExampleIndicators4" class="carousel slide" data-ride="carousel" data-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                  <% restaurants.first(4).each do |restaurant| %>
                    <div class="col-md-3 mb-3">
                      <div class="card-carousel">
                        <%= link_to restaurant_path(restaurant.recommendable, property_id: @property), class: "text-decoration-none text-dark" do %>
                        <img class="img-fluid" alt="100%x280", loading="lazy", src="<%= restaurant.recommendable.photo_url %>" height="300">
                        <div class="card-carousel-body pt-2 p-2">
                          <div class="d-flex justify-content-between">
                            <h5 class="card-title">
                             <%= restaurant.recommendable.name %> </h5>
                            <p class="card-text"><%= restaurant.recommendable.rating %><i class="fas fa-star star-yellow"></i> </p>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                  <% end %>
              </div>
            </div>

            <div class="carousel-item">
              <div class="row">
                  <% restaurants[4...7].each do |restaurant| %>
                    <div class="col-md-3 mb-3">
                      <div class="card-carousel">
                        <%= link_to restaurant_path(restaurant.recommendable, property_id: @property), class: "text-decoration-none text-dark" do %>
                        <img class="img-fluid" alt="100%x280", loading="lazy", src="<%= restaurant.recommendable.photo_url %>">
                        <div class="card-carousel-body pt-2 p-2">
                          <div class="d-flex justify-content-between">
                            <h5 class="card-title"> <%= restaurant.recommendable.name %> </h5>
                            <p class="card-text"><%= restaurant.recommendable.rating %><i class="fas fa-star star-yellow"></i></p>
                          </div>
                            <%# <p class="card-text"> <%= restaurant.recommendable.address</p> %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                  <% end %>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
   </div>
</section>
