<div class="container">
  <h1>Add new recommendations for <%= @property.name %></h1>

  <h3>These are your previous recommendations</h3>

  <% if @recommendations.nil? %>
    <p>You have no recommendations yet.</p>
  <% else %>
    <div class="mb-3">
    <div class="row my-2">
    <div class="col-12 col-lg-8">
      <div class="cards">
      <% @recommendations.each do |recommendation| %>
        <div class="mb-3">
          <%# <%= link_to activity_path(activity), class: "text-decoration-none text-dark" do %>
            <% if !recommendation.recommendable.photo_url.nil?  %>
              <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%=recommendation.recommendable.photo_url%>')"> </div>
            <% else %>
              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('<%= cl_image_path recommendation.recommendable.photo.key, height: 300, crop: :fill %>')"> </div>
            <% end %>
            <div class="p-3 rounded-bottom d-flex flex-column">
              <div class="d-flex justify-content-between">
              <% if recommendation.recommendable_type == "Activity" %>
                <h4> <%= recommendation.recommendable.title %> </h4>
              <% else %>
                <h4> <%= recommendation.recommendable.name %> </h4>
              <% end %>
                <p class="text-muted font-weight-normal">
                <%# Get average rating %>
                <% if recommendation.recommendable_type == "Activity" %>
                  <% if recommendation.recommendable.reviews.empty? %>
                    No reviews yet
                  <% else %>
                    <%= (recommendation.recommendable.reviews.pluck(:rating).sum / recommendation.recommendable.reviews.pluck(:rating).length).round(1) %>
                    <i class="fa-solid fa-star text-warning"></i>
                  <% end %>
                <% else %>
                  <%= recommendation.recommendable.rating %>
                  <i class="fa-solid fa-star text-warning"></i>
                <% end %>
                </p>
              </div>
              <% if recommendation.recommendable_type == "Activity" %>
                <p> <%= recommendation.recommendable.location %> </p>
                <p> <strong><%= recommendation.recommendable.price %> € </strong></p>
              <% else %>
                <p> <%= recommendation.recommendable.address %> </p>
              <% end %>
            </div>
        <%# <% end %>
        <%= link_to "Delete", recommendation_path(recommendation), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </div>
      <% end %>
      </div>
    </div>
    </div>
    </div>
  <% end %>

  <h3>Add new recommendations below</h3>

  <div class="mb-3">
    <div class="row my-2">
    <div class="col-12 col-lg-8">
      <div class="cards" data-controller="recommendations">

      <% @activities.each do | activity | %>
        <div data-id="<%= activity.id %>" class="mb-3" data-action="click->recommendations#selectActivity">
          <% if !activity.photo_url.nil?  %>
            <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%=activity.photo_url%>')"> </div>
          <% else %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('<%= cl_image_path activity.photo.key, height: 300, crop: :fill %>')"> </div>
          <% end %>
          <div class="p-3 rounded-bottom d-flex flex-column">
            <div class="d-flex justify-content-between">
              <h4> <%= activity.title %> </h4>
              <p class="text-muted font-weight-normal">
              <%# Get average rating %>
              <% if activity.reviews.empty? %>
                No reviews yet
              <% else %>
                <%= (activity.reviews.pluck(:rating).sum / activity.reviews.pluck(:rating).length).round(1) %>
                <i class="fa-solid fa-star text-warning"></i>
              <% end %>
              </p>
            </div>
            <p> <%= activity.location %> </p>
            <p> <strong><%= activity.price %> € </strong></p>
          </div>
        </div>
        <% end %>

        <% @restaurants.each do | restaurant | %>
        <div data-id="<%= restaurant.id %>" class="mb-3" data-action="click->recommendations#selectRestaurant">
          <% if !restaurant.photo_url.nil?  %>
            <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%=restaurant.photo_url%>')"> </div>
          <% else %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('<%= cl_image_path restaurant.photo.key, height: 300, crop: :fill %>')"> </div>
          <% end %>
          <div class="p-3 rounded-bottom d-flex flex-column">
            <div class="d-flex justify-content-between">
              <h4> <%= restaurant.name %> </h4>
              <p class="text-muted font-weight-normal">
                <%= restaurant.rating %>
                <i class="fa-solid fa-star text-warning"></i>
              </p>
            </div>
            <p> <%= restaurant.address %> </p>
          </div>
        </div>
        <% end %>
      <%= simple_form_for [@property, @recommendation] do |f| %>
        <%= f.input :activity_ids, value: ',', as: :hidden, input_html: { data: { recommendations_target: 'activityIds' }}%>
        <%= f.input :restaurant_ids, value: ',', as: :hidden, input_html: { data: { recommendations_target: 'restaurantIds' }} %>
        <%= f.submit 'Finished', class: "btn-dark-green" %>
      <% end %>
      <%= link_to "Cancel", property_path(@property) %>
      </div>
      </div>
  </div>
</div>
