<h1>Book now</h1>
<p>You are booking <%= @activity.title %> in <%= @activity.location %></p>

<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Complete your booking</h3>
        <%= simple_form_for [@activity, @booking] do |f| %>
          <%= f.input :start_date,
                      as: :string,
                      input_html: { data: { controller: "datepicker" , datepicker_disabled_dates_value: @disabled_dates} } %>
          <%= f.input :end_date,
                      as: :string,
                      input_html: { data: { controller: "datepicker", datepicker_disabled_dates_value: @disabled_dates } } %>
          <%= f.input :number_of_people%>
          <%= f.submit class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
