<div class="container">
  <div class="row">
    <div class="col-12">
    <h2 class="py-3">Pending Bookings</h2>
    <% @bookings.each do |booking| %>
      <% if booking.status.nil? %>
        <div class="card shadow my-2">
          <h5 class="card-header"><%= booking.activity.title %> - <%= booking.activity.price %>€</h5>
          <div class="card-body d-flex justify-content-between align-items-center">
            <div><strong>Customer: </strong><%= booking.user.first_name %> <%= booking.user.last_name %></div>
            <div> <strong>from: </strong><%= booking.time_slot.start_time.strftime('%B %d, %Y - %H:%M') %>
            <strong>to: </strong><%= booking.time_slot.end_time.strftime('%B %d, %Y - %H:%M') %></div>
            <div class="btn-group" role="group">
              <%= link_to "Reject", update_booking_path(booking, status: false), data: {turbo_method: :patch}, class:"btn btn-danger"%>
              <%= link_to "Accept", update_booking_path(booking, status: true), data: {turbo_method: :patch}, class:"btn btn-success"%>
            </div>
          </div>
        </div>
        <% else %>
      <% end %>
    <% end %>
    <h2 class="py-3">Accepted Bookings</h2>
    <% @bookings.each do |booking| %>
      <% if booking.status %>
        <div class="card shadow my-2">
          <h5 class="card-header"><%= booking.activity.title %> - <%= booking.activity.price %>€</h5>
          <div class="card-body d-flex justify-content-between align-items-center">
            <div><strong>Customer: </strong><%= booking.user.first_name %> <%= booking.user.last_name %></div>
            <div> <strong>from: </strong><%= booking.time_slot.start_time.strftime('%B %d, %Y - %H:%M') %>
            <strong>to: </strong><%= booking.time_slot.end_time.strftime('%B %d, %Y - %H:%M') %></div>
          </div>
        </div>
      <% end %>
    <% end %>
    <h2 class="py-3">Rejected Bookings</h2>
    <% @bookings.each do |booking| %>
      <% if booking.status == false %>
        <div class="card shadow my-2">
          <h5 class="card-header"><%= booking.activity.title %> - <%= booking.activity.price %>€</h5>
          <div class="card-body d-flex justify-content-between align-items-center">
            <div><strong>Customer: </strong><%= booking.user.first_name %> <%= booking.user.last_name %></div>
            <div> <strong>from: </strong><%= booking.time_slot.start_time.strftime('%B %d, %Y - %H:%M') %>
            <strong>to: </strong><%= booking.time_slot.end_time.strftime('%B %d, %Y - %H:%M') %></div>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
