<!-- <div class="cover mb-4 d-flex align-items-center justify-content-center">
<div class="container text-black">
<h1>Abrego</h1>
<p> Get local services at your new home ! </p> -->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%= asset_path('friends.webp')%>)">
  <div class="container">
    <h1><strong> Tailored services. Your host's signature touch.</strong></h1>
    <%# <p> Your Host's Finest Selection!" <p> %>
    <div class="d-flex justify-content-between my-4">
      <% if current_user.nil? %>
        <%= link_to "Landlord? Create recommendations", new_property_path, class: "btn btn-yellow" %>
        <%= link_to "Guest? Explore services", activities_path, class: "btn btn-yellow" %>
        <%= link_to "Become a service provider", new_activity_path, class: "btn btn-dark-green" %>
      <% elsif current_user.provider? %>
        <%= link_to "Explore services", activities_path, class: "btn btn-yellow" %>
      <% elsif !current_user.nil? %>
        <%= link_to "Explore services now", activities_path, class: "btn btn-dark-green" %>
        <%= link_to "Become a service provider", new_activity_path, class: "btn btn-dark-green" %>
      <% end %>
    </div>
  </div>
</div>


<div class="container py-3 mt-3">
  <div style="text-align: center;">
      <h5 class="mb-3">Discover what our customers love</h5>
  </div>

  <div class="d-flex align-items-center justify-content-between mb-3">
    <div class="col-3 p-3 rounded-bottom d-flex flex-column text-center">
      <p><strong> Jet Ski Experience  <span class="text-muted font-weight-normal">• 4.5 <i class="fas fa-star star-yellow"></i></span></strong></p>
      <p><small class="text-muted"> Wooohoooo! What a cool experience! </small></p>
    </div>

    <div class="col-3 p-3 rounded-bottom d-flex flex-column text-center">
      <p><strong> Guitar Lesson  <span class="text-muted font-weight-normal">• 5 <i class="fas fa-star star-yellow"></i></span></strong></p>
      <p><small class="text-muted"> Curro is best guitar teacher in Bali. What a ROMANTIC evening by the beach! </small></p>
    </div>

    <div class="col-3 p-3 rounded-bottom d-flex flex-column text-center">
      <p><strong> Wine Tasting  <span class="text-muted font-weight-normal">• 4.7 <i class="fas fa-star star-yellow"></i></span></strong></p>
      <p><small class="text-muted"> Tasty, Boozy and Fun!  </small></p>
    </div>
  </div>
</div>
