<!-- <div class="cover mb-4 d-flex align-items-center justify-content-center">
<div class="container text-black">
<h1>Abrego</h1>
<p> Get local services at your new home ! </p> -->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= asset_path('yoga.webp')%>)">
  <div class="container">
    <h1><strong> Tailored Services, Crafted Just for You, Your Host's Signature Touch!</strong></h1>
    <%# <p> Your Host's Finest Selection!" <p> %>
    <div class="d-flex justify-content-between my-4">
      <% if current_user.nil? %>
        <%= link_to "Explore services now", activities_path, class: "btn btn-dark-green" %>
        <%= link_to "Landlord? Create recommendations", new_property_path, class: "btn btn-light-green" %>
        <%= link_to "Become a service provider", new_activity_path, class: "btn btn-lighter-green" %>
      <% elsif current_user.provider? %>
        <%= link_to "Explore services now", activities_path, class: "btn btn-dark-green" %>
      <% elsif !current_user.nil? %>
        <%= link_to "Explore services now", activities_path, class: "btn btn-dark-green" %>
        <%= link_to "Become a service provider", new_activity_path, class: "btn btn-lighter-green" %>
      <% end %>
    </div>
  </div>
</div>

<div class="container py-3">
    <h3 class="mb-3"> Discover what our customers love</h3>
  <div class="d-flex align-items-center justify-content-between mb-3">
    <div class="cards">
      <div>

        <div class="p-3 rounded-bottom d-flex flex-column">
          <strong> Guitar Lesson  <span class="text-muted font-weight-normal">• 5 <i class="fas fa-star star-yellow"></i></span></strong>
          <small class="text-muted"> Curro was the best guitar instructor in Bali ! He even took our friends group to the beach to have a ROMANTIC guitar and singing evening! </small>
        </div>
      </div>

      <div>

        <div class="p-3 rounded-bottom d-flex flex-column">
          <strong> Jet Ski Experience  <span class="text-muted font-weight-normal">• 4.5 <i class="fas fa-star star-yellow"></i></span></strong>
          <small class="text-muted"> Wooohoooo! What a cool experience! </small>
        </div>
      </div>

      <div>

        <div class="p-3 rounded-bottom d-flex flex-column">
          <strong> Wine Tasting  <span class="text-muted font-weight-normal">• 4.7 <i class="fas fa-star star-yellow"></i></span></strong>
          <small class="text-muted"> Tasty, Boozy and Fun!  </small>
        </div>
      </div>

    </div>

  </div>
</div>
