<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
      <h3 class="mb-0">Explore All Activities</h3>
  </div>
    <div class="row">
      <% @activities.each do | activity | %>
        <div class="co-12 col-sm-6 col-md-4 mb-3">
        <%= link_to activity_path(activity), class:"text-decoration-none" do %>
          <%= activity.photo.key %> 
          <%= activity.title %>
          <%= activity.location %>
          <%= activity.price %> €

        <% end %>
        </div>
       <% end %>
    </div>
  </div>
</div>
