<div class="container py-5">
<h2>My Activities</h2>
<div class="cards">
<% @activities.each do | activity | %>
  <div class="mb-3">
    <%= link_to activity_path(activity), class: "text-decoration-none text-dark" do %>
      <% if !activity.photo_url.nil?  %>
        <div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%=activity.photo_url%>')"> </div>
      <% else %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('<%= cl_image_path activity.photo.key, height: 300, crop: :fill %>')"> </div>
      <% end %>
      <div class="p-3 rounded-bottom d-flex flex-column">
        <div class="d-flex justify-content-between">
          <h4> <%= activity.title %> </h4>
          <p class="text-muted font-weight-normal">
          <% if activity.reviews.empty? %>
                  No reviews yet
                <% else %>
                  <%= (activity.reviews.pluck(:rating).sum / activity.reviews.pluck(:rating).length).round(1) %>
                  <i class="fa-solid fa-star text-warning"></i>
                <% end %>
           <i class="fas fa-star star-yellow"></i></p>
        </div>
          <p> <%= activity.location %> </p>
          <div class="d-flex justify-content-between">
          <p> <strong><%= activity.price %> € </strong></p>
          <%= link_to edit_activity_path(activity) do %>
            <i class="fa-regular fa-pen-to-square"></i>
          <% end %>
          <%= link_to activity_path(activity), class:"text-danger", data: {turbo_method: :delete , turbo_confirm: "Are you sure?"} do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
          </div>
        </div>
    <% end %>
  </div>
<% end %>
</div>
</div>
